<!DOCTYPE html>
<html>
<head>
    {% load static%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Syne+Mono&display=swap" rel="stylesheet">
    <title>Войти</title>
</head>
<body>
<form method="POST">
    <div class="container mt-5">
        <div>
            {% if error %}
                <p class="alert alert-danger mt-5">{{error}}</p>
            {%endif%}
        </div>
        <div class="mt-5">   
            <div>
                {%csrf_token%}
                <input placeholder="Никнейм" class="form-control"  name="login">
                <input placeholder="Пароль" class="form-control mt-3" type="password" name="password">
                <center><button class="btn btn-success mt-5" > Войти</button></center>                   
            </div>
        </div>
    </div>
</form>
</body>
</html>